html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.small-search {
    width: 150px; /* Adjust the width as needed */
    padding: 4px 8px; /* Adjust the padding as needed */
    font-size: 14px; /* Adjust the font size as needed */
}
