@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This Privacy Policy is for the Employee Management System ("the System") provided by our Employee Managementsystem . We are committed to protecting your privacy and the security of your personal information.
    This policy explains how we collect, use, and safeguard your data when you use the System.
</p>
<p>
    <strong>1. Information We Collect:</strong><br>
    We may collect personal information such as employee names, contact details, employment history, compensation, and benefits information for the purpose of employee record management and payroll processing.
</p>
<p>
    <strong>2. How We Use Your Information:</strong><br>
    We use the collected information for employee record management, payroll processing, benefits administration, and communication with employees. We also ensure compliance with legal and regulatory requirements.
</p>
<p>
    <strong>3. Data Security:</strong><br>
    We employ industry-standard security measures to protect your personal information from unauthorized access, disclosure, or alteration. Our security practices are regularly reviewed and updated.
</p>
<p>
    <strong>4. Sharing Your Information:</strong><br>
    We may share your personal information with third-party service providers who assist us in managing and maintaining the System. We may also share information when required by law.
</p>
<p>
    <strong>5. Your Choices:</strong><br>
    You have the right to access, update, correct, or delete your personal information within the System. Please contact our support team or use the System's provided features to make these changes.
</p>
<p>
    <strong>6. Retention of Data:</strong><br>
    We will retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy and to comply with legal obligations.
</p>
<p>
    <strong>7. Changes to This Privacy Policy:</strong><br>
    We may update this Privacy Policy from time to time. The most recent version will be posted on our website, and the date of the last update will be indicated at the top of the policy.
</p>
<p>
    If you have questions or concerns about this Privacy Policy or your personal information, please contact us at Mobile:01740924228 Email:helpdesk@gmail.com.
</p>

